.header{
    position: relative;
    top:0;
    left:0;
    padding: 20px 100px;
    background-color:#088E88 ;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.header a{
    text-decoration: none;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 22px;
    color: white;
    text-decoration: none;
}